.color_white {
    color: white;
}
.background_gray {
    background-color: grey;
}
.color_gray {
    color: gray;
}
.background_lightseagreen{
    background-color: lightseagreen;
}
.border_white {
    border-color: white;
}
.background_lightgray {
    background-color: lightgray;
}
.color_lightgray {
    color: lightgray;
}
.color_blue {
    color: blue;
}
section.big {
    padding: 100px 50px 100px 50px;
}